@font-face {
    font-family: 'Bebas Neue Pro SemiExpBold';
    src: local('Bebas Neue Pro SemiExpanded Bold'), local('BebasNeuePro-SemiExpBold'),
        url('../fonts/BebasNeuePro-SemiExpBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Pro Bold';
    src: local('Bebas Neue Pro Bold'), local('BebasNeuePro-Bold'),
        url('../fonts/BebasNeuePro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}